@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap');

$imgUrl: "https://allius-images.s3.ap-northeast-2.amazonaws.com";

$fontKr : 'Noto Sans KR', sans-serif;
$fontSize : 22px;
$wrapperWidth : 1000px;

$systemTeal : rgb(90,200,250);
$systemPink : rgb(255,45,84);
$systemYellow : rgb(255,204,0);
$systemRed : rgb(255, 59, 48);
$systemBlue: rgb(0, 122, 255);
$systemGreen: rgb(52,199,89);
$systemOrange: rgb(255, 149, 0);

$systemGrey1: rgb(242,242,247);
$systemGrey2: rgb(199,199,204);
$systemGrey3: rgb(142,142,147);
$systemGrey4: rgb(58,58,60);
$systemBlack: rgb(28,28,30);


$breakpoints: (
  'w400': (max-width: 400px),
  'w600': (max-width: 600px),
  'w800': (max-width: 800px),
  'wrapper': (max-width: $wrapperWidth),
);

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}